@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/sprite";
@import "utils/fluid-font";
@import "utils/functions";
// @import "utils/breadcrumbs";
//@include sprites($spritesheet-sprites);


:root {
  --vh: 1vh;
  accent-color: $black;
}

html {
  font-family: $primary-font, Arial, serif;
  color: $black;
  font-size: 16px;
  font-style: normal;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: $white;

  position: relative;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

audio,
canvas,
iframe,
img,
svg,
video,
textarea {
  vertical-align: middle;
}

textarea {
  resize: none;
}

section {
  position: relative;
}

input,
select,
button {
  outline: none;
}

button {
  cursor: pointer;
}

.body {
  width: 100%;

  &.no-scroll {
    overflow: hidden;
  }
}

.svgClipPath {
  position: absolute;
  pointer-events: none;
}

.hidden {
  display: none;
}

.simplebar-track {
  visibility: hidden !important; 
}

//Модули
@import "modules/modules";