- var navLinks = [{name: 'Главная', link: 'index.html'},{name: 'Продукция', link: 'catalog.html'}, {name: 'О компании', link: 'about.html'}, {name: 'Онлайн-магазин', link: 'online-shop.html'}, {name: 'Контакты', link: ''}]
- var langList = [{langType: 'en', langName: 'EN'}, {langType: 'ru', langName: 'RU'}, {langType: 'ar', langName: 'AR'}]

header.header
    <!--Header logo-->
    .header__logo
        a(href="index.html" target="_self").header__logo-link
            img(src="static/images/content/main-logo.svg" width="" height="" alt="Wood Point")
    <!--Header nav-->
    nav.header__nav.nav
        ul.nav__list
            for i in navLinks
                li.nav__item
                    a(href="" +i.link target="_self").nav__link=i.name
        .nav__lang
            ul.nav__lang-list
                for i in langList
                    li(data-lang="" +i.langType)
                        span=i.langName
    <!--Header toggler-->
    button(type="button").header__toggle.js-toggle
        span
        span
        span
        span