section.products
    h2.products__title Каталог
    ul.products__list
        for i in prodList
            li.products__item
                //- span(data-image="" +i.dataImage data-link="" +i.dataLink).products__data
                picture.products__frame
                    source(srcset="static/images/content/" +i.image +".webp 1x, static/images/content/" +i.image +"_2x.webp 2x" type="image/webp")
                    img(src="static/images/content/" +i.image +"_2x.jpg" width="" height="" alt="").products__frame-img
                h3.products__name=i.name
                p.products__stats=i.stats

                button(type="button").products__more
                    svg
                        use(xlink:href="static/images/sprite/symbol/sprite.svg#arrow-right")
    a(href="catalog.html" target="_self").products__link Полный каталог