section.video
    h2.video__title Видео
    p.video__description Только собственное производство, а также жесткий пооперационный и технологический контроль позволяет создавать высококачественные материалы под конкретные нужды и запросы клиентов, вне зависимости от масштабов планируемого объекта.

    .video__player
        video(src="static/video/main-video.mp4" autoplay muted playsinline loop).video__player-content