.footer {
    @include flex-setting(column, flex-start, flex-start);
    width: 100%;

    padding: toRem(50) 5.3334% toRem(40) 5.3334%;
    background: $footer-gradient;
    border-radius: toRem(20) toRem(20) 0 0;

    &__logo {
        @include flex-setting(column, center, center);
        width: toRem(200);
        height: toRem(34);
        margin-bottom: toRem(42);

        svg {
            width: toRem(200);
            height: toRem(34);
            fill: $white;
        }
    }
    
    &__description {
        margin-bottom: toRem(24);
        @include font-setting($primary-font, toRem(20), toRem(28), 400, $white);
        text-align: left;
    }

    &__apps {
        margin-bottom: toRem(48);
    }

    &__nav {
        @include flex-setting(column, flex-start, flex-start);
        padding: toRem(24) 0 toRem(34) 0;
        width: 100%;
        border-top: toRem(1) solid #5D5C60;
    }

    &__subtitle {
        @include font-setting($primary-font, toRem(18), normal, 400, $white);
        margin-bottom: toRem(24);
    }

    &__list {
        @include flex-setting(row, flex-start, center);
        width: auto;
        gap: toRem(20);
        margin-bottom: toRem(22);

        display: none;

        &-item {
            position: relative;
            @include flex-setting(column, center, center);
            width: auto;
            height: auto;

            &:not(:last-of-type) {
                &::before {
                    position: absolute;
                    content: '';
                    top: 50%;
                    transform: translateY(-50%);
                    right: toRem(-10);
                    width: toRem(1);
                    height: toRem(10);
                    background-color: #CBCCD0;
                }
            }
        }

        &-link {
            @include font-setting($primary-font, toRem(15), normal, 400, #CBCCD0);
            text-decoration: none;
            text-transform: uppercase;
            transition: opacity 0.2s linear;

            &:active {
                opacity: 0.7;
                transition: opacity 0.2s linear;
            }
        }
    }

    &__policy {
        @include flex-setting(row, flex-start, center);
        width: auto;
        gap: toRem(10) toRem(20);
        flex-wrap: wrap;
        margin-bottom: toRem(22);

        &-item {
            position: relative;
            @include flex-setting(column, center, center);
            width: auto;
            height: auto;

            &:not(:last-of-type) {
                &::before {
                    position: absolute;
                    content: '';
                    top: 50%;
                    transform: translateY(-50%);
                    right: toRem(-10);
                    width: toRem(1);
                    height: toRem(10);
                    background-color: $white;
                }
            }
        }

        &-link {
            @include font-setting($primary-font, toRem(13), normal, 400, $white);
            text-decoration: none;
            text-transform: uppercase;

            transition: opacity 0.2s linear;

            &:active {
                opacity: 0.7;
                transition: opacity 0.2s linear;
            }
        }
    }

    &__social {
        align-self: center;
        gap: toRem(24);
        margin-bottom: toRem(34);

        .social__item {
            background-color: #151318;
            border-radius: toRem(7);
        }
    }

    &__legal {
        @include flex-setting(column, center, center);
        width: 100%;

        padding: toRem(14) 0 toRem(10) 0;
        background: rgba(255, 255, 255, 0.31);
        border-radius: toRem(10);

        @include font-setting($primary-font, toRem(13), toRem(15.6), 400, $white);
        text-transform: uppercase;
        text-align: center;
    }
}

@include min-screen(768px) {
    .footer {
        margin: 0 auto toRem(30) auto;
        width: calc(100% - 5.2084%);
        padding: toRem(56) calc((100% - 654px) / 2) toRem(20) calc((100% - 654px) / 2);
        background: linear-gradient(0deg, #151318 0%, #151318 100%), #F5F5F5;
        border-radius: toRem(15);
        
        &__description {
            margin-bottom: toRem(30);
            font-size: toRem(24);
        }
    
        &__nav {
            padding: toRem(42) 0 toRem(36) 0;
        }
    
        &__list {
            gap: toRem(40);
    
            &-item {
                &:not(:last-of-type) {
                    &::before {
                        right: toRem(-20);
                    }
                }
            }
        }
    
        &__policy {
            gap: toRem(40);
            flex-wrap: wrap;
            margin-bottom: 0;
    
            &-item {
                &:not(:last-of-type) {
                    &::before {
                        right: toRem(-20);
                    }
                }
            }
        }
    
        &__social {
            gap: toRem(80);
            margin-bottom: toRem(48);
        
            .social__item {
                background-color: transparent;
                width: toRem(34);
                height: toRem(34);

                svg {
                    width: toRem(34);
                    height: toRem(34);
                }
            }
        }
    }
}

@include min-screen(1024px) {
    .footer {
        width: calc(100% - 9.765625%);
        padding: toRem(56) calc((100% - 710px) / 2) toRem(20) calc((100% - 710px) / 2);
    }
}

@include min-screen(1440px) {
    .footer {
        margin-bottom: toRem(40);
        width: calc(100% - 80px);
        padding: toRem(56) calc((100% - 1360px) / 2) toRem(20) calc((100% - 1360px) / 2);
        border-radius: toRem(10);

        display: grid;
        grid-template-columns: toRem(508) 1fr;
        column-gap: toRem(38);
        justify-content: space-between;
        align-self: start;

        &__logo {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }
        
        &__description {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }

        &__apps {
            grid-column: 1 / 2;
            grid-row: 3 / 4;
            margin-bottom: 0;
        }
    
        &__nav {
            grid-column: 2 / 3;
            grid-row: 2 / 4;
            padding: 0 toRem(40) toRem(44) toRem(48);
            border-top: none;
            border-left: toRem(1) solid #5D5C60;
        }
    
        &__list {
            gap: toRem(40);
    
            &-item {
                &:not(:last-of-type) {
                    &::before {
                        right: toRem(-20);
                    }
                }
            }

            &-link {
                &:hover {
                    opacity: 0.7;
                    transition: opacity 0.2s linear;
                }
            }
        }
    
        &__policy {
            flex-wrap: nowrap;
            margin-bottom: 0;
    
            &-link {
                font-size: toRem(14);
                white-space: nowrap;

                transition: opacity 0.2s linear;

                &:hover {
                    opacity: 0.7;
                    transition: opacity 0.2s linear;
                }
            }
        }
    
        &__social {
            justify-self: end;
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            align-items: flex-end;
            gap: toRem(30);
            margin-bottom: toRem(32);
        }

        &__legal {
            grid-column: 1 / 3;
            grid-row: 4 / 5;
            margin-top: toRem(64);
        }
    }
}