@mixin font-face($font-name, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: quote($font-name);
    src:
      url(#{$path}.woff) format("woff"),
      url(#{$path}.woff2) format("woff2");
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

@include font-face('Gilroy', '../fonts/Gilroy/Gilroy-Regular', 400, 'normal');
@include font-face('Gilroy', '../fonts/Gilroy/Gilroy-Medium', 500, 'normal');