// Colors
$white: #ffffff;
$black: #111B25;
$sand: #DFC7B0;
$black-tr: rgba(56, 50, 43, 0.56);
// Sizes
$base-font-size: 16;
// Fonts
$primary-font: 'Gilroy', sans-serif;
// Padding
$lg-padding: calc((100% - 1320px) / 2);
$text-black: $black;
$text-white: $white;
$cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99);
